---
name: create_tag

'on':
  workflow_dispatch:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  create_tag:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{secrets.PUSH_TOKEN}}

      - name: Install uv and setup python
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          python-version: 3.14
          activate-environment: "true"

      - name: Tag and push
        run: |
          ./create_tag.sh
...
