---
name: publish

'on':
  workflow_dispatch:
  release:
    types:
      - created

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install uv and setup python
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          python-version: 3.14
          activate-environment: "true"

      - name: Publish to PyPi
        env:
          UV_PUBLISH_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }}
        run: |
          uv build
          uv publish
...
